{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="entry-list single">
            {% if entry %}
            <article>
                <h1>{{ entry.title }}</h1>
                <time>{{entry.date.strftime('%A,%d,%B,%Y')}}</time>
                <div class="entry">
                    <h3>Time Spent: </h3>
                    <p>{{entry.time_spent}}</p>
                </div>
                <div class="entry">
                    <h3>What I Learned:</h3>
                    <p>{{entry.what_i_learned}}</p>
                </div>
                <div class="entry">
                    <h3>Resources to Remember:</h3>

                    <p>{{entry.resources}}</p>
                </div>
            </article>


            {% endif %}
        </div>
    </div>
    <div class="edit">
        <p><a href={{url_for('add_edit_entry', entry_id=entry.id)}}>Edit Entry</a>
            <a href={{url_for('delete', entry_id=entry.id)}}
               onclick="return confirm('Are you sure?')">Delete Entry</a></p>
    </div>
</section>
{% endblock %}
