{% extends "layout.html" %}
{% from 'macros.html' import render_field %}
{% block content %}
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method='POST' action=''>
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="six columns">

      {{ render_field(form.title) }}
    </div>
    <div class="six columns">
      {{ render_field(form.time_spent) }}
    </div>
    <div class="six columns">
      {{ render_field(form.what_i_learned) }}
    </div>
    <div class="six columns">
      {{ render_field(form.resources) }}
    </div>
  </div>
  <div class="u-full-width">
    <input type="submit" value="Publish Entry" class="button">
       <a href="#" class="button button-secondary">Cancel</a>
  </div>
</form>
                </div>
            </div>
        </section>
{% endblock %}
