{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="entry-list">
            {% if entries %}
            {% for entry in entries %}
            <article>
                <h2><a href={{url_for('detail',entry_id=entry.id)}}>{{
                    entry.title }}</a></h2>
                <time>{{entry.date.strftime('%d-%m-%Y')}}</time>
            </article>

            {% endfor %}
            {% else %}

            <article>
                <h2>Welcome to my website</h2>
                <p> to add and entry click <a href={{url_for('add_edit_entry')}}>here</a>
                    or you can also view previous
                    entries by clicking <a
                            href={{url_for('list')}}>here</a>
                    or you an choose the same options in the menu above

                </p>
                <time>Current date is {{date}}</time>
            </article>


            {% endif %}
        </div>
    </div>
</section>

{% endblock %}